/**
 * App: Kancional
 * Author: Ondra Gersl, ondra.gersl@gmail.com
 */

body {
	font: 12pt/1.4 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: black;
	background: none;
	width: 100%;
}

a {
	color: black;
}
a img { border: none; }

img {
	height: 95%;
	width: 95%;
}

h1 {
	font-size: 140%;
}

h2 {
	font-size: 120%;
}

h3,
h4 {
	font-size: 100%;
}

#ajax-spinner,
#menu,
#alternative-formats,
.no-print,
.sr-only {
	display: none;
}

.stanza {
	page-break-inside: avoid;
}
