/**
 * App: Kancional
 * Author: Ondra Gersl, ondra.gersl@gmail.com
 */

/* Windows Phone viewport width fixup */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


body {
	font-size: 180%;
}

h1 {
	font-size: 180%;
	margin: 0 0 0.7em 0;
}
h2 {
	font-size: 160%;
}
h3 {
	font-size: 140%;
}

p {
	margin: 1.5em 0;
}

dl {
	margin: 1.5em 0;
}

dd {
	margin-left: 2em;
}

table th {
	font-weight: normal;
}
table.download th,
table.download td {
	padding: 0.2em 1em 0.2em 0;
}

hr {
	border-color: #ccc;
}

#menu {
	font-size: 90%;
}

#content {
}

footer {
	font-size: 75%;
	margin-bottom: 1.5em;
	text-align: right;
}

#search {
	border: 0;
}
#search input.form-control {
	border-radius: 4px;
	width: 100%;
}
#search div.input-group span {

}
#search div.input-group span button {
	border-radius: 4px;
	margin-left: 3px;
}

.navbar-brand {
	height: auto;
}
.navbar-brand:hover,
.navbar-brand:focus,
span.navbar-brand {
	background-color: #3e152b;
}

.btn-song {
	color: #772953;
	background-color: white;
	width: 4.5em;
}

.song-list {
	margin: 0 0 1em 0;
}
.song-list a {
	margin-bottom: 0.4em;
}

.song-list-number,
.song-list-alphabet {
	margin: 0 0 1em 4.7em;
}
.song-list-number a,
.song-list-alphabet a {
	margin: 0 0.7em 0.4em -5.3em;
}

.results {
	margin-bottom: 1.4em;
}

.search-result {
	margin: 0.3em 0 0.3em 4.7em;
}
.search-result a {
	margin-left: -5.3em;
	margin-right: 0.7em;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #3e152b;
	color: white;
}

.nav li span,
.dropdown-menu li span {
	background-color: #3e152b;
	color: white;
	display: block;
}

.nav li span {
	line-height: 20px;
	padding: 15px;
}

.dropdown-menu li span {
	line-height: 1.428571429;
	padding: 3px 20px;
}

.stanza {
	text-align: justify;
}
.stanza:target {
	background-color: #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	margin: 0 -0.6em;
	padding: 0.5em 0.6em;
}

.stanza-section {
	color: #8f8f8f;
}

.glyphicon-left {
	margin-right: 5px;
}

@media (min-width: 992px) {
	.song {
		max-width: 800px;
	}
}
